<div class="bg-[url('https://th.bing.com/th/id/OIP.0sTm-M9pBwGpOCoypw5xuQHaE6?w=283&h=187&c=7&r=0&o=5&pid=1.7')] text-white flex-1 bg-cover flex items-end ">
    <div class="bg-[rgba(0,0,0,0.4)] w-full flex gap-5 items-center h-24 p-10">
        <p class="text-xs text-orange-400">FASHION</p>
        <p class="text-orange-400">|</p>
        <p class="text-xl">Simplicity is the ultimate sophistication</p>
    </div>
</div>