<div class="bg-[url('https://b6.dd.icdn.ru/i/ilovechubboys77/0/imgsrc.ru_68998920xKz.jpg')] flex-1 bg-cover flex items-end ">
    <div class="bg-[rgba(0,0,0,0.4)] w-full">
        <p>gfddf</p>
        <p>|</p>
        <p>grdgedgr lorem ipsum fsedfwefwefw</p>
    </div>
</div>