<div class="bg-[url('https://b6.dd.icdn.ru/i/ilovechubboys77/0/imgsrc.ru_68998920xKz.jpg')] h-[550px] w-[350px] bg-cover text-white flex items-end relative p-10">
    <div class="bg-orange-300 absolute m-10 p-1 font-semibold top-0 left-0">
        <p>ARCHITECTURE</p>
    </div>
    <div class="">
        <p class="text-xs mb-3">
            05 MARCH 2020
        </p>
        <p>
            Architects design houses. I live in a home
        </p>
    </div>
</div>