<div class="bg-[url('https://th.bing.com/th/id/OIP.sTFidEboxAuXN2FKTKwSAQHaEw?w=248&h=180&c=7&r=0&o=5&pid=1.7')] h-[175px] w-[285px] bg-cover text-white flex-1 items-end relative p-10">
    <div class="bg-[rgba(0,0,0,0.7)] absolute mt-4 ml-32 py-1 px-2 font-semibold text-[10px] top-0 left-0">
        <p>SUMMER</p>
    </div>
</div>