<div class="flex flex-col justify-start px-8 py-8 gap-3 border-x-[3px] border-b-[3px] bg-white">
    <div class="text-xs text-[#8F908B]">
        <p>18 February 2020</p>
    </div>
    <div class="text-sm">
        <p>Creativity is nothing but a mind set free</p>
    </div>
    <div class="text-xs text-[#8F908B]">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod atque reprehenderit perferendis necessitatibus </p>
    </div>
</div>