---
import { Icon } from "astro-icon/components";
---

<div class="bg-white text-black flex justify-center items-center gap-48 font-semibold p-5">
    <div class="flex gap-6">
        <p class="text-gray-500">Home</p>
        <p>Pages</p>
        <p>Potafolio</p>
    </div>
    <div class="flex text-4xl">
        <Icon name="mdi:cube-outline" class="text-orange-300"/>
        <h1 class="uppercase font-bold text-3xl">litho</h1>
    </div>
    <div class="flex gap-6">
        <p>Elements</p>
        <p>Features</p>
        <p>Blog</p>
    </div>
</div>
